PORT =
MONGO_URL =
JWT_SECRET_KEY = 

SMTP_USER= 
SMTP_PASS=

IMAGEKIT_PUBLIC_KEY =public_zn9JuJWc1O4bQ2cRnoeMMLizWLQ=
IMAGEKIT_PRIVATE_KEY =private_rBbuu0laVU1WiOAMtRxnXeTECE4=
IMAGEKIT_URL_ENDPOINT =https://ik.imagekit.io/kjcxqczka